#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
}

#optionsContainer {
  width: 100%;
}

#option:hover {
  cursor: pointer;
  background-color: lightgray;
}

