#content{
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: hsl(194, 63%, 60%);
  min-height: 75vh;
}

#sideBar {
  background-color: white;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid black;
}

#sideBar div {
  font-family: Inter;
  width: 100% - 1px;
  height: 100%;
  min-height: 50px;
  border: 1px solid black;
  align-content: center;
  text-align: center;
}

#label {
  font-size: 20px;
  font-weight: bold;
}

.carTabs:hover {
  background-color :hsl(194, 63%, 60%);
  cursor: pointer;
}