.background{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    


}

.largeBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mainbox{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#logoImage {
    height: 70px;
    padding-right: 15px;
    cursor: pointer;
}

.usernamebox{
    border: 1px;
    border-color: black;
}

.passwordbox{
    border: 1px;
    border-color: black;
}

.leftSide{
    display: flex;
    flex-direction: row;
}

.middle{
    display: flex;
    flex-direction: row;
}

.rightSide{
    display: flex;
    flex-direction: row;
}