.background{
    background-color: lightblue;


}

.mainbox{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.usernamebox{
    border: 1px;
    border-color: black;
}

.passwordbox{
    border: 1px;
    border-color: black;
}
