#accountInfoBox {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  margin: 120px 0 20px 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

#content h4 {
  font-size: 30px;
  margin: 20px 20px 10px 20px;
}

#infoAndBtn {
  display: flex;
  flex-direction: row;
}

#allInfo {
  width: 75%;
  margin: 0 40px;

}

.informationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.informationContainer p {
  font-size: 20px;
  text-decoration: none;
}

.informationContainer input {
  border: 1px solid black;
  border-radius: 5px;
}

#dropDown {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

#allBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
}

.btn {
  align-self: center;
  margin: 40px 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: hsl(194, 63%, 60%);
  border: none;
  border-radius: 10px;
  height: 70px;
  width: 150px;
  transition: background-color .15s;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(194, 63%, 50%)
}
