.App{
    position: relative;
}

.bg {
    position: fixed;
    top:0;
    left:0;
    background-image: url("./pages/bikini-bottom.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;

}

